$primary: #a7352a;
@import "~bootstrap/scss/bootstrap";
@import url(../../node_modules/bootstrap-icons/font/bootstrap-icons.css);
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

$white: #fff;
$black: #000;

:root {
  --color-primary: #a7352a;
  --header-height: 64px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Raleway, cursive, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  background-color: $black;
  color: $white;
}

::selection {
  background-color: $primary;
  color: $white;
}

::-webkit-scrollbar {
  background-color: #000;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(59, 59, 59);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  outline: none;
  transition: 0.3s ease-in-out all;
}

.btn {
  border-radius: 13px;
}

.btn-primary {
  color: white;
}

.h-100-vh {
  height: 100vh;
}

.min-h-100-vh {
  height: 100vh;
}
